/BagtoPicture.py
/best_final_model.pt
/CountImages.py
/CUsersUSERDesktopProject_PressureUlcerMLbounds.json
/images0424
/images_aug0425_1
/images_new0425_1
/maskRGBCutForDepth.py
/MLP.py
/model0425.py
/modelPK0425.ipynb
/modelPK0425addDepth.ipynb
/models
/new0425_1.csv
/pose_landmarker_heavy.task
/Step1_SplitData.py
/Step2_mergeCam.py
/Test.py
/tmp_dataset